body {
  font-family: 'Inter', 'Poppins', Arial, sans-serif;
  background: #16181d;
  color: #fff;
  min-height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
